@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*universel*/
*{
    font-family: "raleway",sans-serif;
}

a{  
    color: black;
    text-decoration: none;
}

/*id logo pour margin */
#logo{
    margin-right: auto;
    padding: 0px 15px;
}

/*navbar*/
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 30px;
}

nav a:hover{
    border-top: 3px solid #0065fc;
    text-decoration: none;
    color: #0065fc;
}

.sub-nav{
    display: flex;
}

@media (max-width: 992px){
    .sub-nav{
        width: 100%;
    }   
    .sub-nav a{
        width: 50%;
        text-align: center;
    }
}

/*body*/

.titreprincipal{
    padding: 0px 20px;
}
.titreprincipal{
    font-size: small;
}

/*search-form*/

.search-form{
    display: flex;
}

.search-form i {
    padding: 12px 12px;
    background-color: rgb(238, 235, 235);
    border-radius: 10px 0px 0px 10px;
}

.search-form input {
    padding-right: 30px;
    border: 1px solid rgb(238, 235, 235);
}

.search-form input::placeholder{
    color: black;
    font-weight: bold;
    padding: 0px 10px;
}

.search-form button{
    padding: 0px 10px ;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}