@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*universel*/
*{
    font-family: "raleway",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{  
    color: black;
    text-decoration: none;
}

/*header titre*/

.titreprincipal{
    margin-left: 24px
}

/*id logo pour margin */
#logo{
    margin-right: auto;
    margin-left: 40px;
    padding: 0px 40px;
}

/*navbar*/
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 30px;
}

nav a:hover{
    border-top: 3px solid #0065fc;
    text-decoration: none;
    color: #0065fc;
}

.sub-nav{
    display: flex;
}

.icon-recherche{
    display: none;
}


@media (max-width: 992px){
    .sub-nav{
        width: 100%;
    }   
    .sub-nav a{
        width: 50%;
        text-align: center;
    }
    .sub-nav a:hover{
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    .activites{
        width: auto;
        margin: 40px 90px 60px 40px;
        padding: 0;
    }
    .grandecarte{
        height: 442px;
        width: 46%;
    }
    .doublecarte{
        height: 444px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/*body*/

.titreprincipal h1 {
    padding: 0px 20px;
    font-size: x-large;
    margin: 20px 0px 0px 0px;
}
.titreprincipal p{
    padding: 0px 20px;
    margin: 8px 0px 0px 0px;
    font-size: medium;
}

/*search-form*/

.search-form{
    display: flex;
    margin: 20px;
}

.search-form i {
    padding: 15px 20px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}


.search-form input {
    padding-right: 80px ;
    border: 2px solid #F2F2F2;
    overflow: auto;
}

.search-form input::placeholder{
    color: black;
    font-weight: bold;
    padding: 0px 10px;
    font-size: medium;
}

.search-form button{
    padding: 0px 20px ;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/*filtres*/

.filter-list{
    display: flex;
    align-items: center;
    gap: 10px 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 24px
}

.filter{
    border: 3px solid #d9d9d9;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.filter-list h1{
    font-size: large;
    padding: 10px 20px 10px 20px ;
    font-weight: bold;
    
}

.filter .fa-solid{
    color: #0065fc;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -3px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter span{
    font-weight: bold;
    border-radius: 50%;
    padding: 0px 20px;
}

.filter:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

/*message-info*/

.message-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.fa-solid.fa-info{
    color: #0065fc;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin: 0px 0px 0px 40px;
}

/*liste hebergements*/

.heb-pop{
    display: flex;
    gap: 50px;
}

.hebergements-list {
    margin-left: 40px;
    width: 65%;
}
.liste-populaire{
    margin-right: 90px;
}

.liste-populaire{
    width: 34%;
}

.hebergements-list div, .liste-populaire div{
    border-radius: 10px;
    padding: 7px;
    position: relative;
}

.hebergements-list .city{
    background-color: #F2F2F2;
    padding: 40px 30px 20px;
}
.liste-populaire .popular{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 24px 10px
}

.hebergements-list .city a{
    font-size: medium;
}

.afficher a {
    font-weight: bold;
}

@media screen and (max-width:1024px){
     .search-form .search-icone {
        display: none;
    }
    .fa-solid.fa-magnifying-glass{
        display: inline;
        padding: 2px;
        background-color: inherit;
    }

    .search-form{
        margin: 30px 20px 15px;
    }
    .filter-list {
        flex-direction: row;
        align-items: flex-start;
    }
    .filter-list h1{
        margin: 10px 0px 0px 0px;
    }
    .filter-list div{
        margin-left: 20px;
    }
    .message-info{
        margin: 30px 0px 30px 10px;
    }
    .heb-pop{
        flex-direction: column;
        width: 100%;
        margin: 0;
        gap: 0px;
    }
    .hebergements-list .city{
        background-color: white;
    }
    .hebergements-list{
        width: 100%;
        margin: 0px 20px 20px -16px;
    }
    .liste-populaire{
        order: -1;
        width: 100%;
    }
    .activites{
        width: auto;
        margin: 40px 90px 60px 40px;
        padding: 0;
        height: auto;
    }
    .blocactivites{
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    .grandecarte{
        height: 442px;
        width: 46%;
    }
    .doublecarte{
        height: 444px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .medium1 img, .medium2 img{
        height: 180px;
        object-fit: cover;    
    }
    .small1 img, .small2 img{
        height: 115px;
        object-fit: cover;
    }
    .grandecarte img{
        height: 87%;
    }
    .footer div{
        margin-bottom: 20px;
        padding-left: 40px;
    }
}

/*titre-card*/
.titre-card h3{
    font-size: x-large;
    margin-bottom: 15px;
}

/*city-hebergements-marseille*/

.city-hebergements-marseille{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    justify-content: space-around;
    margin-bottom: 10px;
}

/*hebergement-card*/

.hebergements-card, .popular-card{
    background-color: white;
    box-shadow: 0px 0px 16px #0000002e;
    flex-grow: 1;
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}

.hebergements-card img{
    border-radius: 10px 10px 0px 0px;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.hebergements-card h3, 
.hebergements-card p,
.popular-card p,
.popular-card h3 {
    margin: 5px;
    font-size: 15px;
}
.bleu{
    color: #0065fc;
}
.gris{
    color: #d9d9d9;
}


/*popular-hebergements-card*/

.hebergements-card div{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.hebergements-card{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
}

.popular-list .popular-card{
    display: flex;
    flex-direction: row;
}

.popular-list .popular-card img{
    border-radius: 10px 0px 0px 10px;
    height: 145px;
    width: 130px;
    object-fit: cover;
    min-width: 126px;
}

.popular-card{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.popular-card .stars1{
    margin-top: 64px;
}
.popular-card .stars{
    margin-top: 47px;
}

.popular-card a{
    display: flex;
}
.popular .etoile-popular{
    float: right;
    position: absolute;
    right: 18px;
    top: 33px;
    font-size: 22px;
}


/*activité*/

.activites h2{
    font-size: 1.3em;
    margin: 60px 0 20px 0;
}
.blocactivites{
    display: flex;
    justify-content: space-between;
}
.premierblock, .deuxiemeblock{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.grandecarte, .medium1, .small1, .medium2, .small2{
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    cursor: pointer;
}

.activites article img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.activites article h3{
    font-size: 1em;
    margin: 19px;
}

.small2 h3, .medium2 h3{
    margin-top: 14px;
}

/*footer*/

.footer{
    background-color: #F2F2F2;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px
}

.footer div{
    flex-basis: 30%;
    font-size: medium;
}

.footer h4 {
    margin: 0px 0px 20px 0px;
    font-size: large;
}

.footer p{
    cursor: pointer;
    margin: 10px 0px;
    color: black;
}
@media (min-width:992px) {
    .activites{
        width: auto;
        margin: 40px 90px 60px 40px;
        padding: 0;
    }
    .blocactivites{
        flex-direction: row;
    }
    .premierblock, .deuxiemeblock{
        display: flex;
        justify-content: space-between;
        width: 48%;
    } 
    .grandecarte{
        height: 442px;
        width: 46%;
    }
    .doublecarte{
        height: 444px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    .activites article img{
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    .activites article h3{
        font-size: 17px;
        margin: 19px;
    }
    .grandecarte img{
        height: 87%;
    }
    .small2 h3, .medium2 h3{
        margin-top: 14px;
    }
    .medium1 img, .medium2 img{
        height: 180px;
        object-fit: cover;    
    }
    .small1 img, .small2 img{
        height: 115px;
        object-fit: cover;
    }
}

@media (max-width:768px){
    .filter-list {
        flex-direction: column;
        align-items: flex-start;
    }    
    .activites{
        height: auto;
        margin: 0px 20px 20px 40px;
    }    
    
    .premierblock, .deuxiemeblock{
        flex-direction: row;
        width:100%;
    }
    .grandecarte{
        height: 442px;
        width: 46%;
        margin-bottom: 35px;
    }
    .doublecarte{
        height: 444px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .medium1, .medium2, .small1, .small2{
        margin-bottom: 35px;
    }
    .medium1 img, .medium2 img{
        height: 180px;
        object-fit: cover;    
    }
    .small1 img, .small2 img{
        height: 115px;
        object-fit: cover;
    }
    .grandecarte img{
        height: 87%;
    }
    .footer{
        flex-direction: row;
    }
}

@media (max-width:500px){
.filter-list {
    flex-direction: column;
    align-items: flex-start;
}    
.activites{
    height: auto;
    margin: 0px 20px 20px 40px;
}    

.premierblock, .deuxiemeblock{
    flex-direction: column;
    width:100%;
}
.grandecarte{
    height: auto;
    width: 100%;
    margin-bottom: 35px;
}
.doublecarte{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.medium1, .medium2, .small1, .small2{
    margin-bottom: 35px;
}
.medium1 img, .medium2 img{
    height: 150px;
    object-fit: cover;    
}
.small1 img, .small2 img{
    height: 150px;
    object-fit: cover;
}
.grandecarte img{
    height: 150px;
}
.footer{
    flex-direction: column;
}
}
